body{
  width: 100%;
  height: 100%;
  background-color: #E77471 !important;
}

img{
  width: 100%;
  height: 100%;
}

/*Heading*/
#heading{
  padding: 1em;
}
#logoImage{
  width: 3vw;
  height: auto;
  float: left;
}
#name{
  float: left;
  color: white;
  font-family: cursive;
}

/*Projects*/
#projects{
  margin-top: 5%;
  background-color: #0C090A;
}
#poem, #voter, #type, #pCard{
  padding: 1em;
  /*border: solid gray 0.5px;*/
}
.projImg{
  height: 35vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.projTitle{
  position: absolute;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  transition: 0.5s;
  opacity: 0;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  float: right;
}
#poem:hover .projTitle, #voter:hover .projTitle, #type:hover .projTitle, #pCard:hover .projTitle{
  opacity: 1;
}


#crBar{
  margin-top: 2em;
  position: fixed;
  bottom: 0;
  background-color:black;
  width:100%;
  color: white;
  text-align: center;
  padding: 0.5em;
  font-family: palatino;
}
