$logo-color: #691F2B;
$hover-darker: #4f1721;
$secondary-color: #c9485d;
$inverse-color: #edc1c8;
$nav-width: 160px;

@mixin centerImg {
    // position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif !important;
}

button {
    background-color: transparent;
    border: none;
}

section {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #111;
    font-size: 14px;

    nav {
        display: grid;
        grid: auto / 50% 50%;
        align-items: center;
        padding: 10px 15px;

        #logo_link img {
            height: 40px;
            width: auto;
        }

        a {
            text-decoration: none;
            color: white;

            &:not(:first-child) {
                text-align: right;
            }
        }
    }

    #filterMenu {
        background-color: white;
        margin-block-start: 0;
        padding: 10px 0 0;
        text-align: center;
        
        p {
            display: none; //Don't show "Filter By:" on small screens
        }

        button {
            margin-bottom: 15px;
            padding: 5px 10px;

            &.active {
                background-color: $logo-color;
                color: white;
                border-radius: 25px;
            }

            &:hover { //Just in-case
                border-bottom: 1px solid $hover-darker;
            }
        }
    }
}

figure.filterDiv {
    display: none;
    overflow: hidden;
    // float: left;
    // width: 100px;
    // line-height: 100px;
}

figure.show { display: block; }

.iconCntr {
    position: relative;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' -25,
            'opsz' 48;
        position: absolute;
        direction: rtl !important;
        top: 10px;
        right: 10px;
    }
}

/* The Modal (background) */
.modal {
    padding: 1%;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */

    .modal-content {
        background: transparent;
        width: fit-content;
        @include centerImg;

        .imgSlides {
            object-fit: contain;
        }
    }

    #displayImg{
        max-width: 99vw;
        height: auto;
        max-height: 99vh;
    }
}

/* The Close Button */
button.close {
    position: absolute;
    opacity: 1;
    z-index: 1;
    // top: 15px;
    right: 10px;
    color: $logo-color;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.prev { left: 0; }
.next { right: 0; }
.prev,
.next {
    position: absolute;
    display: flex;
    white-space: pre;
    align-items: center;
    justify-content: center;
    width: 50%;
    bottom: -40px;
    padding: 10px;
    background-color: $logo-color;
    color: white;
    font-size: 12px;
    transition: 0.6s ease;
    -webkit-user-select: none;
    user-select: none;

    span {
        // font-size: 16px;
        font-weight: bold;
    }
}

// Tablets
@media screen and (min-width: 760px) {
    button.close {
        font-size: 50px;
    }
}

// Large Screens and Desktops
@media screen and (min-width: 1366px), (orientation: landscape) {
    section {
        position: fixed;
        overflow-x: hidden;
        width: $nav-width;
        height: 100%;

        nav {
            grid: auto / auto;
            #logo_link img{
                width: 40%;
                height: auto;
                padding: 20px 0;
            }

            a:first-child {
                text-align: center;
            }
            a:not(:first-child) {
                text-align: left;
                padding: 5px 10px;
            }

        }

        #filterMenu {
            background-color: inherit;
            color: white;
            margin-top: 16px;
            text-align: left;

            p { padding-left: 16px; }

            button {
                color: white;

                &.active {
                    border-radius: 0 25px 25px 0;
                }

                &:hover {
                    background-color: $logo-color;
                    border-radius: 0 25px 25px 0;
                }
            }
        }
    }

    main.container-fluid {
        margin: 10px 0px 0px $nav-width;
        width: calc(100% - $nav-width);
    }

    .imgSlides {
        max-height: calc(100vh - 38px*2.5);;
    }

    #displayImg {
        width: auto !important;
    }
}

@media (hover: hover) {
    nav a:hover {
        text-decoration: none;
        color: $inverse-color;
    }

    .material-symbols-outlined {
        visibility: hidden;
    }
    .modalImg {
        cursor: pointer;
        transition: 0.3s;
        border-radius: 5px;
      
        &:hover {
          opacity: 0.7;
          transform: scale(1.1);
      
          & + .material-symbols-outlined { visibility: visible; }
        }
    }

    button.close:hover {
        color: #bbb;
    }

    .prev:hover, .next:hover {
        background-color: $hover-darker;
    }
}