body {
  font-family: "Montserrat", sans-serif !important;
}

#logo_link {
  text-align: center;
}
#logo_link img {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}

#backBtn {
  font-size: 0.8em;
}
#backBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}
nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1em;
  color: white;
  display: block;
}
nav a:hover {
  text-decoration: none;
  color: white;
}
nav section {
  margin-top: 10px;
  margin-bottom: 25px;
}
nav section p {
  padding: 6px 8px 6px 16px;
  color: white;
  margin-bottom: 10px;
}
nav menu {
  padding-inline-start: 0;
}
nav menu p {
  padding-left: 16px;
}
nav menu button {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px 16px;
  color: white !important;
  background-color: inherit;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 2px;
}
nav menu button:hover {
  background-color: #691F2B;
}
nav menu button.active {
  background-color: #691F2B;
  color: white;
}

main {
  margin: 10px 0px 0px 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
}
main img {
  display: block;
  width: 100%;
  height: 100%;
}

.filterDiv {
  float: left;
  color: white;
  width: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  overflow: hidden;
}

.show {
  display: block;
}

/* Style the Image Used to Trigger the Modal */
.modalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.modalImg:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  overflow-y: auto;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto !important;
  max-width: 55vw;
  max-height: 97vh;
}
.modal-content figure {
  margin-block-end: 0;
}
.modal-content img {
  width: 100%;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
button.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  opacity: 1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}
button.close:hover, button.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px 3px;
  border-width: 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev:hover,
.next:hover {
  /* On hover, add a black background color with a little bit see-through */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
@media screen and (max-height: 450px) {
  nav {
    padding-top: 15px;
  }
  nav a {
    font-size: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
