img {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

button {
  background-color: transparent;
  border: none;
}

section {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #111;
  font-size: 14px;
}
section nav {
  display: grid;
  grid: auto/50% 50%;
  align-items: center;
  padding: 10px 15px;
}
section nav #logo_link img {
  height: 40px;
  width: auto;
}
section nav a {
  text-decoration: none;
  color: white;
}
section nav a:not(:first-child) {
  text-align: right;
}
section #filterMenu {
  background-color: white;
  margin-block-start: 0;
  padding: 10px 0 0;
  text-align: center;
}
section #filterMenu p {
  display: none;
}
section #filterMenu button {
  margin-bottom: 15px;
  padding: 5px 10px;
}
section #filterMenu button.active {
  background-color: #691F2B;
  color: white;
  border-radius: 25px;
}
section #filterMenu button:hover {
  border-bottom: 1px solid #4f1721;
}

figure.filterDiv {
  display: none;
  overflow: hidden;
}

figure.show {
  display: block;
}

.iconCntr {
  position: relative;
}
.iconCntr .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" -25, "opsz" 48;
  position: absolute;
  visibility: visible;
  direction: rtl !important;
  top: 10px;
  right: 10px;
}

/* The Modal (background) */
.modal {
  padding: 1%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
.modal .modal-content {
  background: transparent;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-content .imgSlides {
  object-fit: contain;
}
.modal #displayImg {
  max-width: 99vw;
  height: auto;
  max-height: 99vh;
}

/* The Close Button */
button.close {
  position: absolute;
  opacity: 1;
  z-index: 1;
  right: 10px;
  color: #691F2B;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev,
.next {
  position: absolute;
  display: flex;
  white-space: pre;
  align-items: center;
  justify-content: center;
  width: 50%;
  bottom: -40px;
  padding: 10px;
  background-color: #691F2B;
  color: white;
  font-size: 12px;
  transition: 0.6s ease;
  -webkit-user-select: none;
  user-select: none;
}
.prev span,
.next span {
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  button.close {
    font-size: 50px;
  }
}
@media screen and (min-width: 1366px), (orientation: landscape) {
  section {
    position: fixed;
    overflow-x: hidden;
    width: 160px;
    height: 100%;
  }
  section nav {
    grid: auto/auto;
  }
  section nav #logo_link img {
    width: 40%;
    height: auto;
    padding: 20px 0;
  }
  section nav a:first-child {
    text-align: center;
  }
  section nav a:not(:first-child) {
    text-align: left;
    padding: 5px 10px;
  }
  section #filterMenu {
    background-color: inherit;
    color: white;
    margin-top: 16px;
    text-align: left;
  }
  section #filterMenu p {
    padding-left: 16px;
  }
  section #filterMenu button {
    color: white;
  }
  section #filterMenu button.active {
    border-radius: 0 25px 25px 0;
  }
  section #filterMenu button:hover {
    background-color: #691F2B;
    border-radius: 0 25px 25px 0;
  }

  main.container-fluid {
    margin: 10px 0px 0px 160px;
    width: calc(100% - 160px);
  }

  .imgSlides {
    max-height: calc(100vh - 95px);
  }

  #displayImg {
    width: auto !important;
  }
}
@media (hover: hover) {
  nav a:hover {
    text-decoration: none;
    color: #edc1c8;
  }

  .iconCntr .material-symbols-outlined {
    visibility: hidden;
  }

  .modalImg {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }
  .modalImg:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
  .modalImg:hover + .material-symbols-outlined {
    visibility: visible;
  }

  button.close:hover {
    color: #bbb;
  }

  .prev:hover, .next:hover {
    background-color: #4f1721;
  }
}

/*# sourceMappingURL=index.css.map */
