$logo-color: #691F2B;

body {
  font-family: "Montserrat", sans-serif !important;
}

button { 
  background-color: transparent;
  border: none;
  color: white;
}

#logo_link {
  text-align: center;

  img {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
  } 
}

#backBtn {
  font-size: 0.8em;

  &:hover {
    transform: scale(1.1);
  cursor: pointer;
  }
}

nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: block;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  section {
    margin-top: 10px;
    margin-bottom: 25px;

    p {
      padding: 6px 8px 6px 16px;
      color: white; 
      margin-bottom: 10px;
    }
  }

  menu {
    padding-inline-start: 0;

    p {padding-left: 16px;}
    
    button {
      border-radius: 5px;
      outline: none;
      padding: 12px 16px;
      cursor: pointer;
      font-size: 1em;
      margin-bottom: 2px;
  
      &:hover {
        background-color: $logo-color;
      }
  
      &.active {
        background-color: $logo-color;
        color: white;
      }
    }
  }
}

main {
  &.container-fluid {
    margin: 10px 0px 0px 160px; /* Same as the width of the sidenav */
    width: calc(100% - 160px);
  }
  
  font-size: 28px; /* Increased text to enable scrolling */
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.filterDiv {
  float: left;
  color: white;
  width: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  overflow: hidden;
}

.show {
  display: block;
}


/* Style the Image Used to Trigger the Modal */
.modalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  overflow-y: auto;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto !important;
  max-width: 55vw;
  max-height: 97vh;

  figure {
    margin-block-end: 0;
    margin: auto;
  }

  img {
    width: 100%;
  }
}

/* Add Animation - Zoom in the Modal */
.modal-content, 
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
button.close {
  position: absolute;
  top: 15px;
  right: 35px;
  opacity: 1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  color: $logo-color;
  transition: 0.6s ease;
  border-radius: 3px 3px;
  border-width: 0;
  user-select: none;
  -webkit-user-select: none;

  &:hover {/* On hover, add a black background color with a little bit see-through */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  nav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}
