$logo-color: #691F2B;
$nav-width: 160px;

body {
  font-family: "Montserrat", sans-serif !important;
}

button { 
  background-color: transparent;
  border: none;
  color: white;
}

#logo_link {
  text-align: center;
  margin-top: 10px;

  img {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
  } 
}

#backBtn {
  font-size: 0.8em;

  &:hover {
    transform: scale(1.1);
  cursor: pointer;
  }
}

nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: block;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  section {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  menu {
    padding-inline-start: 0;

    p {padding-left: 16px;}
    
    button {
      border-radius: 5px;
      outline: none;
      padding: 12px 16px;
      cursor: pointer;
      font-size: 1em;
      margin-bottom: 2px;
  
      &:hover {
        background-color: $logo-color;
      }
  
      &.active {
        background-color: $logo-color;
        color: white;
      }
    }
  }
}

main {
  // font-size: 28px; /* Increased text to enable scrolling */

  &.container-fluid {
    margin: 10px 0px 0px $nav-width;
    width: calc(100% - $nav-width);
  }
  
  img {
    display: block;
    width: 100%;
    // height: 100%;
  }
}

.filterDiv {
  float: left;
  width: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  overflow: hidden;
}

.show { display: block; }


/* Style the Image Used to Trigger the Modal */
.modalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  // position: relative;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);

    &:first-of-type + .material-symbols-outlined { opacity: 1; }
  }
}

figure { position: relative; }
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' -25,
    'opsz' 48;
  position: absolute;
  opacity: 0;
  z-index: 1;
  direction: rtl !important;
  top: 10px;
  right: 10px;
}


/* The Modal (background) */
.modal {
  max-height: 100vh;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  .modal-content {
    margin: auto;
    padding: 1%;
    width: auto !important;
    max-width: 55vw;
    height: 100%;
    background: transparent;

    .imgSlides {
      height: 100%;
      object-fit: contain;
    }
  }
}

/* The Close Button */
button.close {
  position: absolute;
  top: 15px;
  right: 35px;
  opacity: 1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

.prev { left: 0; }
.next { right: 0; }
.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 16px;
  font-weight: bold;
  font-size: 24px;
  color: $logo-color;
  background-color: rgba(105, 31, 43, 0.1);
  transition: 0.6s ease;
  border-radius: 3px 3px;
  border-width: 0;
  user-select: none;
  -webkit-user-select: none;

  &:hover {/* On hover, add a black background color with a little bit see-through */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  small {
    display: block;
    font-size: small;
  }
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  nav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}
